# IntelliJ
/**/*.iml
/**/*.iws
/**/.idea

# Eclipse
/**/.project
/**/.classpath
/**/.metadata/
/**/.settings/
/**/*.factorypath

# Maven
/**/target/

/**/*.springBeans
/**/*.jar
/**/bin/
/**/classes/
/**/lib/
